.footer
{
    position:fixed;
    bottom:0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color:  rgb(15, 210, 181);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px;
}

.item
{
   margin: 50px;
    
}